/* class is dynamically removed by javascript */
.noscript {
  display: none;
}

body {
  text-align: center;
}
body > #content {
  display: inline-block;
}
body > #content > #heading {
  margin-bottom: 2em;
}
body > #content > #tool {
  text-align: left;
}
body > #content > #error_message {
  margin-top: 2em;
  color: red;
}
body > #navigation_icon {
  position: absolute;
  top:   0;
  right: 0;
}
body > #navigation_icon,
body > #navigation_icon > a,
body > #navigation_icon > a > img {
  width:  50px;
  height: 50px;

  text-decoration: none;
  border-style: none;
}
